.jumbotron {
  background-image: url("../img/bgimg.jpg");
  background-size: cover;
}

body {
  color: grey;
}

.btn {
  color: yellow;
}

#output {
  display: none;
}

#c {
  display: none;
  image-size:
}

#java {
  display: none;
}

#php {
  display: none;
}

#ruby {
  display: none;
